/// <reference path="../weavy.scss" />

// Full window preview mode

.weavy-global {
    .weavy-panels.weavy-overlays {
        pointer-events: none;
        width: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        overflow-y: initial;
        overflow-x: initial;
        perspective: 100rem;
        perspective-origin: center center;

        .weavy-panel {
            background-color: rgba(mix($light, #FFF), $opacity-panel);
            //max-height: 100vh; // Causes height error in safari

            &:not(.weavy-transition) {
                transform: translateZ(-4rem) !important;
            }

            .weavy-controls {
                position: absolute;
                border-bottom: none;
                flex-direction: row;
                transition: opacity .1s .2s step-end;


                .weavy-icon {
                    color: $icon-color;
                }
            }

            &.weavy-loaded {
                .weavy-controls {
                    pointer-events: none;
                    opacity: 0;
                }
            }

            .weavy-panel-frame {
                background-color: transparent;
            }

            &.weavy-controls-light {
                .weavy-icon {
                    color: $icon-color;
                }
            }

            &.weavy-light {
                background-color: rgba(mix($light, #FFF), $opacity-panel);

                .weavy-icon {
                    color: $icon-color;
                }
            }

            &.weavy-controls-dark {
                .weavy-icon {
                    color: $navbar-dark-color;

                    &:hover, &:focus {
                        color: $navbar-dark-hover-color;
                    }

                    &:active {
                        color: $navbar-dark-active-color;
                    }
                }
            }

            &.weavy-dark {
                background-color: rgba(mix($dark, #000), $opacity-panel);

                .weavy-icon {
                    color: $navbar-dark-color;

                    &:hover, &:focus {
                        color: $navbar-dark-hover-color;
                    }

                    &:active {
                        color: $navbar-dark-active-color;
                    }
                }

                &.weavy-open[data-title]::before {
                    background: rgba($dark, $opacity-panel);
                    color: $navbar-dark-color;
                    border-bottom: $border-width #000 solid;
                }
            }

            &.weavy-floating {
                @include media-breakpoint-up(md) {
                    left: 1rem;
                    top: 1rem;
                    right: 1rem;
                    bottom: 1rem;
                    border-radius: .1875rem;
                    box-shadow: $md-shadow-16dp;
                    overflow: hidden;
                }
            }

            &.weavy-modal {
                background-color: rgba(mix($light, #FFF), $opacity-panel);

                @include media-breakpoint-up(md) {
                    left: auto;
                    right: auto;
                    top: 2rem;
                    bottom: 3.2rem;
                    margin-left: 4rem;
                    margin-top: auto;
                    margin-right: 4rem;
                    margin-bottom: auto;
                    border-radius: .25rem;
                    box-shadow: $md-shadow-16dp;
                    overflow: hidden;
                    width: 32rem;
                    max-height: 32rem;
                }
            }

            &.weavy-loading {
                .weavy-controls {
                    transition: opacity $md-animation-duration $md-animation-curve-default;
                    //transition: opacity .2s .2s $md-animation-curve-default;
                    opacity: 1;
                }
            }
        }
    }
}
